.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg{
  background-color: #EaF1F2;
}

.sidebar {
  height: 100vh;
}

.sidebar-active {
  background-color: #BB3214;
}

.border-transparant {
  border: 1px solid #FDFFFF;
}

.bg-putihdikit{
  background-color: #FDFFFF;
}

.bg-img{
  background-image: url('/src/images/bg-login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  height: 100vh;
  width: 100wh;
}

.font-nunito{
  font-family: 'Nunito Sans', sans-serif;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}
.font-size{
  font-size: 14.5px;
}

#lapPers {
  size: a4;
  
}
.pagebreak { page-break-before: always; }
.sidebar-link{
  transition: 0.15s;
}
.sidebar-link:hover{
  background-color: #BB321499;
}

.form-check-input:checked{
  background-color: #BB3214 !important;
  border: 0;
}
.form-check-input:focus, .form-control:focus, .form-select:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  box-shadow:  0 0 8px #BB3214;
}